
body {
    font-family: 'Oxygen', sans-serif;

    color: #404040 !important;
    background-color: #e6e6e6;
}

h1, h2, h3, h4, h5 {
    font-family: 'Oxygen', sans-serif;
    font-weight: normal;
    color: #404040 !important;
}


.headbar {
    display: flex;
    margin: 0 0 4rem 0;
    width: 100%;
    position: static;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: white;
    padding: 1rem;
    /*box-shadow: 0 3px 30px 1px grey;*/
}

.row {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container{
    max-width: 1400px !important;
}